{% extends "layout.html" %}
{% block content %}
    
<div class="col-xl-12 col-lg-5">
    <div class="card shadow mb-4">
      <div class="card-header">
        Input
      </div>
      <div class="card-header py-3 d-flex flex-row  justify-content-between">
        <div class="card" style="width: 35rem;  ">
          <div class="card-header ">
            Enkripsi
          </div>
          <div class="card-body">
            
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endblock content %}
